[submodule "code/facenet-pytorch"]
	path = code/facenet-pytorch
	url = https://github.com/bubbliiiing/facenet-pytorch
[submodule "code/arcface-pytorch"]
	path = code/arcface-pytorch
	url = https://github.com/bubbliiiing/arcface-pytorch
